*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    padding-top: 100px;
}

/* slideshow container */
#slideshow-container{
    display: flex;

    position: relative;

    width: 1000px;
    height: 500px;

    margin: 50px auto;

    background-color: antiquewhite;

}

/* imgs container */
#imgs-container{
    width: 800px;
    height: 500px;

    position: relative;
    color: white;
}

/* images */
#imgs-container img{
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: right;
}

/* images container title and caption */
#imgs-container .text{
    position: absolute;
    bottom: 20px;
    right: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: end;


}

#imgs-container .title{
    font-weight: bold;
    font-size: 2em;
}

#imgs-container .caption{
    
}

/* thumbnails */
#thumbnails-container{
    width: 200px;
    height: 100%;

}

#thumbnails-container .thumbnail{

    /* height: calc(100% / 5); */
    width: 100%;
    background-size: cover;
    background-position: center;


    opacity: .5;

}

#thumbnails-container .thumbnail.active{

    opacity: 1;
    border: 1px solid white;

}


/* arrows */
#arrow-up{
    position: absolute;
    top: 10px;
    right: 100px;

    transform: translateX(50%);

    font-size: 2em;
    color: white;

    z-index: 1;
}

#arrow-down{
    position: absolute;
    bottom: 10px;
    right: 100px;

    transform: translateX(50%);


    font-size: 2em;
    color: white;

    z-index: 1;


}



/* buttons */
#buttons-container button {
    color: white;

    border: none;
    border-radius: 10px;

    padding: 10px 15px;
}

#buttons-container #start-stop{

    background-color: green;
}

#buttons-container #invert{
    background-color: rgb(9, 91, 215);
}